.header{

  .media-menu-btn{
	display: none;
  }

  @media (min-width: 875px) {
	[for="media-menu-btn"],
	.hidden-desktop{
	  display: none;
	}
  }

  @media (max-width: 875px) {
	&{
	  min-height: $header-height;
	}

	&__wrapper{
	  position: relative;
	}

	& [for="media-menu-btn"]{
	  background: $accent-color;
	  border-radius: 2px;
	  padding: 13px 21px;
	  color: $accent-color-medium;
	  font-size: $font-btc-cta;
	  font-weight: 700;
	  line-height: 16px;
	  text-transform: uppercase;

	  &:active{
		color: white;
		background: $bg-dark-gradient;
		transition: .3s;
	  }

	}
	&__navigation{
	  gap: 30px;
	  flex-direction: row-reverse;
	  justify-content: flex-end;

	  nav{
		width: 100%;
		display: none;
		position: absolute;
		top: $header-height;
		left: 0;
		background: $bg-light-gradient;
		z-index: 100;
		box-shadow: 0 13px 14px -11px #0000009e;

		ul{
		  flex-direction: column;
		  gap: 0;

		  a{
			display: block;
			text-align: center;
			padding: 10px 0;
			font-size: 20px;

			&:hover{
			  color: white;
			  background: $bg-dark-gradient;
			  transition: .3s;
			}
		  }
		}
	  }
	}
	& .media-menu-btn{
	  &:checked{
		& + nav{
		  display: initial;
		}
	  }
	}
	&__social-cta{
	  display: none;
	}
  }

  @media (max-width: 370px){
	&__navigation{
	  gap: 20px;
	}

	&__social-icons ul {
	  gap: 20px;
	}
  }
}


