.header{
  padding: 18px 0;
  font-family: $font-Quicksand;
  font-size:   $font-sm;
  line-height: 15px;
  border-bottom: 1px solid #D8E3FE;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 99;

  &__wrapper{
	padding: 18px 0;
  }

  &__navigation{
	gap: 72px;

	&-logo{
	  a{
		display: inline-block;
		width: 26px;
		height: 26px;
		background: $accent-color-light;
		border-radius: 50%;
	  }

	  &:hover{
		transform: scale(1.2);
		transition: 0.3s;
	  }
	}
	nav{
	  ul{
		gap: 42px;
		a{
		  font-weight: 500;

		  &.active{
			font-weight: 700;
			color: $accent-color-light;
		  }
		  &:hover{
			transition: 0.3s;
			color: $accent-color-light;
		  }
		}
	  }
	}
  }
  &__social{
	justify-content: flex-end;
	gap: 44px;

	&-icons{
	  ul{
		gap: 38px;
	  }
	}

	&-cta{
	  a{
		display: inline-block;
		background: $accent-color;
		border-radius: 2px;
		padding: 13px 21px;
		color: $accent-color-medium;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		font-size: $font-btc-cta;
		font-weight: 700;
		line-height: 16px;
	  }
	}
  }
}