.email{
  @media (max-width: 970px) {
	.row{
	  flex-direction: column;
	  gap: 40px;
	}
	&__title,
	&__form{
	  width: 100%;
	}
	&__title{
	  text-align: center;
	  p{
		width: 100%;
	  }
	}
	label{
	  width: 100%;
	  justify-content: center;
	}
  }
  @media (max-width: 500px){
	&__form{
	  label{
		flex-direction: column;
	  }
	  &-btn,
	  &-submit{
		width: 100%;
	  }
	}

  }
}