.about{
  &__wrapper-bg:after{
	@extend %bg-default;
	content: ' ';
	display: block;
	height: 100%;
	width: 100%;
	background-image: url("/assets/icons/about-clouds.svg");
	background-color:  #E1EAFF;
	box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  }

  & .container-md{
	margin-top: -25%;
	padding-bottom: 15%;
  }

  &__title{
	text-align: center;
	h2{
	  font-family: $font-Quicksand;
	  font-weight: 500;
	  font-size: 24px;
	  line-height: 30px;
	  color: #3D4F9F;
	  margin-bottom: 90px
	}
  }
 &__subtitle{
   font-family: $font-Roboto;
   font-weight: 500;
   font-size: $font-xs;
   line-height: 12px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #3D4F9F;
   margin-bottom: 20px;

 }
  &__content{
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 90px
  }
  &__content-item{
	width: 22%;
	display: flex;
	flex-direction: column;
	gap: 28px;
	justify-content: center;
	align-items: center;
	.item-svg{
	  width: 69px;
	  height: 69px;
	  background: #F1F5FF;
	  border-radius: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.item-svg:hover{
	  background: #FFFFFF;
	  border: #3A79FF 1px solid;
	  transition: 0.3s;
	  cursor: pointer;
	}
	h3{
	  color: #4074F8;
	  font-family: $font-OpenSans;
	  font-weight: 700;
	  font-size: 14px;
	  line-height: 25px;
	}
	h3:hover{
	  transition: 0.3s;
	  text-transform: uppercase;
	  cursor: pointer;
	}
	p{
	  font-family: $font-OpenSans;
	  font-weight: 600;
	  font-size: 11px;
	  line-height: 19px;
	  text-align: center;
	  color: #ADB3CB;
	}
  }
  &__btn{
	display: flex;
	justify-content: space-around;

	.btn-red,
	.btn-blue{
	  width: 30%;
	  a{
		display: inline-block;
		width: 100%;
		padding: 15px 0;
		font-family: $font-Quicksand;
		font-weight: 700;
		font-size: $font-btc-cta;
		line-height: 16px;
		text-align: center;
		border-radius: 2px;
	  }
	}
	.btn-red {
	  a {
		color: #D43F3F;
		background: #FFD7D7;
	  }
	  a:hover{
		padding: 13px 0;
		color: #ff0e59;
		background-color: #FFFFFF;
		border: 2px #ff0e59 solid;
		transition: 0.3s;
	  }
	}
	.btn-blue{
	  a{
		color: #3A79FF;
		background: #D2E1FF;
	  }
	  a:hover{
		padding: 13px 0;
		color: #5E80FF;
		background-color: #F6F9FF;
		border: 2px #5E80FF solid;
		transition: 0.3s;
	  }
	}
  }
  .no-btn{
	padding: 10px 30px;
  }
  .no-btn:before,
  .no-btn:after{
	content: '';
	border: 1px solid #DAE4FE;
	display: block;
	width: 100%;


  }
}