body{
  font-family: $font-Roboto;
  font-weight: 400;
}
.container-lg,
.container-md{
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container-lg{
  max-width: $container-lg-width;
}

.container-md{
  max-width: $container-md-width;
}

.btn-s{
  font-family: $font-Quicksand;
  font-weight: 500;
  font-size: $font-btc-cta;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  padding: 15px 0;
  border-radius: 2px;
}
.btn-m{
  font-family: $font-Quicksand;
  font-weight: 700;
  font-size: $font-btc-cta;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  padding: 15px 0;
  border-radius: 2px;
}
a{
  color: $font-color-medium;
  text-decoration: none;
}

main{
  margin-top: $header-height;
}

.row{
  display: flex;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.col{
  width: 100%;
}