body{
  font-family: $font-color-bold;
  font-weight: 400;
}
.container-lg,
.container-md{
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container-lg{
  max-width: $container-lg-width;
}

.container-md{
  max-width: $container-md-width;
}

a{
  color: $font-color-medium;
  text-decoration: none;
}
.row{
  display: flex;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.col{
  width: 100%;
}