$container-lg-width: 1235px;
$container-md-width: 920px;

$font-Roboto: 'Roboto', sant-serif;
$font-Quicksand: 'Quicksand',sant-serif;
$font-

$font-sm: 12px;
$font-btc-cta: 13px;

$accent-color: #5E81FE;


$font-color-light: #D6DAE5;
$font-color-medium: #8D96BD;
$font-color-bold: #697CA6;
